<div class="container-fluid">

	<h1>Send some basic messages</h1>


	<div class="row">
		<form class="form-inline" (ngSubmit)="sendMessage()" #messageForm="ngForm">
			<div class="form-group">
				<label class="sr-only" for="message">Message</label>
				<input type="text" class="form-control" id="message" placeholder="your message..." name="message" [(ngModel)]="message"
				 required>
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send SignalR Message</button>
		</form>
	</div>
	<div class="chatHistory">
		<div *ngIf="messages.length > 0">
			<ul class="list-unstyled" *ngFor="let message of messages; let i = index">
				<li>
					<div class="alert alert-danger" role="alert">
						{{message}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" *ngIf="messages.length <= 0">
		<span>No messages</span>
	</div>
</div>