// Your variable overrides
@import "variables";

$body-bg: $colorTurkiseDark;
$body-color: $colorVioletDark;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
.navbar-nav {
    .bg-dark{
        background-color: $colorVioletGray;    
    }
}

// global styles
Button.wizardButton{
    margin-top:1rem;
    margin-bottom: 1rem;
}