<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div *ngIf="link">

				<form (ngSubmit)="save()" #linkForm="ngForm">
					<div class="card">

						<div class="card-body">

							<div class="form-group">
								<label class="sr-only" for="exampleInputLinkName">Name</label>
								<input type="text" class="form-control" id="exampleInputLinkName" placeholder="Name of the Link ..." name="linkName" [(ngModel)]="link.name"
								   required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="exampleInputLinkDesc">Desc</label>
								<textarea class="form-control" id="exampleInputLinkDesc" rows="3" placeholder="Desc of the Link ..." name="linkDesc" [(ngModel)]="link.desc"
								   required></textarea>
							</div>
							<div class="form-group">
								<label class="sr-only" for="exampleInputLinkUrl">URL</label>
								<input type="url" class="form-control" id="exampleInputLinkUrl" placeholder="URL of the Link ..." name="linkUrl" [(ngModel)]="link.url"
								   required>
							</div>
							<div class="form-group">
								<label class="sr-only" for="exampleInputLinkUrlDesc">URLDesc</label>
								<input type="text" class="form-control" id="exampleInputLinkUrlDesc" placeholder="Desc of the Url ..." name="linkUrlDesc"
								   [(ngModel)]="link.urldesc" required>
							</div>
						</div>

						<div class="card-footer">
							<button type="submit" class="btn btn-primary" [disabled]="!linkForm.valid">Create new Link</button>
						</div>
					</div>
				</form>
			</div>
			<button (click)="goBack()">Back</button>
			<button (click)="save()">Save</button>
		</div>
	</div>